
.DS_Store
.vscode/launch.json
Learning/.DS_Store
Learning/.vs/Learning/xs/project-cache/Learning-Debug.json
Learning/.vs/Learning/xs/UserPrefs.xml
Learning/Learning.sln
Learning/Learning/bin/Debug/net5.0/Learning.deps.json
Learning/Learning/bin/Debug/net5.0/Learning.dll
Learning/Learning/bin/Debug/net5.0/Learning.pdb
Learning/Learning/bin/Debug/net5.0/Learning.runtimeconfig.dev.json
Learning/Learning/bin/Debug/net5.0/Learning.runtimeconfig.json
Learning/Learning/bin/Debug/net5.0/ref/Learning.dll
Learning/Learning/Learning.csproj
Learning/Learning/mono_crash.11a6748113.0.json
Learning/Learning/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Learning/Learning/obj/Debug/net5.0/Learning.AssemblyInfo.cs
Learning/Learning/obj/Debug/net5.0/Learning.AssemblyInfoInputs.cache
Learning/Learning/obj/Debug/net5.0/Learning.assets.cache
Learning/Learning/obj/Debug/net5.0/Learning.csproj.CoreCompileInputs.cache
Learning/Learning/obj/Debug/net5.0/Learning.csproj.FileListAbsolute.txt
Learning/Learning/obj/Debug/net5.0/Learning.csprojAssemblyReference.cache
Learning/Learning/obj/Debug/net5.0/Learning.dll
Learning/Learning/obj/Debug/net5.0/Learning.GeneratedMSBuildEditorConfig.editorconfig
Learning/Learning/obj/Debug/net5.0/Learning.genruntimeconfig.cache
Learning/Learning/obj/Debug/net5.0/Learning.pdb
Learning/Learning/obj/Debug/net5.0/ref/Learning.dll
Learning/Learning/obj/Learning.csproj.nuget.dgspec.json
Learning/Learning/obj/Learning.csproj.nuget.g.props
Learning/Learning/obj/Learning.csproj.nuget.g.targets
Learning/Learning/obj/project.assets.json
Learning/Learning/obj/project.nuget.cache
